version: 2.1
orbs:
  architect: giantswarm/architect@4.15.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
      - architect/push-to-app-catalog:
          name: push-to-giantswarm-catalog
          app_catalog: "giantswarm-catalog"
          app_catalog_test: "giantswarm-test-catalog"
          chart: "fluent-logshipping-app"
          # Trigger job on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-catalog:
          name: push-to-control-plane-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "fluent-logshipping-app"
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: "push-to-shared-app-collection"
          app_name: "fluent-logshipping-app"
          app_namespace: "monitoring"
          app_collection_repo: "shared-app-collection"
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: "push-to-aws-app-collection"
          app_name: "fluent-logshipping-app"
          app_namespace: "monitoring"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: "push to-azure-app-collection"
          app_name: "fluent-logshipping-app"
          app_namespace: "monitoring"
          app_collection_repo: "azure-app-collection"
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: "push to-kvm-app-collection"
          app_name: "fluent-logshipping-app"
          app_namespace: "monitoring"
          app_collection_repo: "kvm-app-collection"
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: "push to-vsphere-app-collection"
          app_name: "fluent-logshipping-app"
          app_namespace: "monitoring"
          app_collection_repo: "vsphere-app-collection"
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
      
      - architect/push-to-app-collection:
          name: "push to-openstack-app-collection"
          app_name: "fluent-logshipping-app"
          app_namespace: "monitoring"
          app_collection_repo: "openstack-app-collection"
          requires:
            - push-to-control-plane-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
