# Default values for fluent-logshipping-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace: kube-system

# clusterID is dynamic environment value, calculated after cluster creation
# applies only to Giant Swarm clusters
clusterID: clusterID

image:
  registry: quay.io

fluentbit:
  name: fluent-bit
  port: 5170
  protocol: TCP

  # For systemd sshd logs it needs root
  userID: 0
  # For systemd sshd logs it needs root
  groupID: 0

  image:
    name: giantswarm/fluent-bit
    tag: 1.7.1

  logLevel: info
  flushFrequencyInSeconds: 5
  backlogMemLimit: "50M"
  memBufferLimit: "10MB"
  storageMaxChunksUp: 128


  inputStorageTypes:
    audit: "memory"
    container: "memory"
    sshd: "memory"
    syslog: "memory"

outputs:
  aws:
    kiam: false
    role: ""
    region: ""
    cloudWatch:
      enabled: false
      inputLogTypes: &logTypes
        - sshd
        - containers
        - syslog
        - audit
      logGroupName: "my-cluster"
      logStreamNamePrefix: "example-stream"
      logRetentionDays: -1
    S3:
      enabled: false
      inputLogTypes: *logTypes
      bucketNamePrefix: "my-cluster-logs"
      bucketPathPrefix: "gs-"
      totalFileSize: "100M"
      s3_object_key_format: "%{path}%{time_slice}_%{index}.%{file_extension}"

  azure:
    logAnalytics:
      enabled: false
      inputLogTypes: *logTypes
      workspaceId: ""
      sharedKey: ""
      customLogs:
        audit:
          ssh:
            name: SshAuditLogs
          kubernetes:
            name: KubernetesAuditLogs
        containers:
          name: KubernetesContainerLogs
        syslog:
          name: KubernetesSyslog

  elasticsearch:
    enabled: false
    inputLogTypes: *logTypes
    host: ""
    port: 9200
    path: "/"
    tlsEnabled: true
    sslVerify: true
    secured: false
    user: ""
    password: ""
    indices:
      audit:
        ssh:
          name: audit-ssh
        kubernetes:
          name: audit-kubernetes
      containers:
        name: kubernetes
      syslog:
        name: syslog
  extraOutputConfig: ""

  tcp:
    enabled: false
    host: ""
    port: ""
    # Specify the data format to be printed. Supported formats are msgpack, json, json_lines and json_stream.
    format: json
    # Specify the name of the time key in the output record. To disable the time key just set the value to false.
    json_date_key: date
    # Specify the format of the date. Supported formats are double, epoch and iso8601 (eg: 2018-05-30T09:39:52.000681Z)
    json_date_format: double
    inputLogTypes: *logTypes
    indices:
      syslog:
        name: syslog

extraFilters: ""

giantswarm:
  monitoring:
    enabled: true

# Tolerate all nodes with NoSchedule taints
tolerations:
  - operator: "Exists"
    effect: "NoSchedule"

resources:
  limits:
    memory: 200Mi
  requests:
    cpu: 500m
    memory: 100Mi
