apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.fluentbit.name }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.fluentbit.name }}
data:
  # Configuration files: server, input, filters and output
  # ======================================================
  fluent-bit.conf: |
    # Setting the memory buffer limit for all the input plugins to handle backpressure (cf. https://docs.fluentbit.io/manual/v/0.12/configuration/backpressure)
    @SET input_memory_buffer_limit={{ .Values.fluentbit.memBufferLimit }}
    @SET input_refresh_interval_in_seconds=10
    @SET input_skip_long_lines=on

    @SET input_buffer_max_size=1MB

    @SET input_database_path=/var/run/fluent-bit
    @SET storage_path=/var/run/fluent-bit/storage

    [SERVICE]
        Flush             {{ .Values.fluentbit.flushFrequencyInSeconds }}
        Log_Level         {{ .Values.fluentbit.logLevel }}
        Daemon            off
        Parsers_File      parsers.conf
        HTTP_Server       On
        HTTP_Listen       0.0.0.0
        HTTP_Port         {{ .Values.fluentbit.port }}

        # Configure optional buffer on the filesystem
        storage.path              ${storage_path}
        storage.sync              normal
        storage.checksum          off
        storage.max_chunks_up     {{ .Values.fluentbit.storageMaxChunksUp }}
        storage.backlog.mem_limit {{ .Values.fluentbit.backlogMemLimit }}

    @INCLUDE inputs.conf
    @INCLUDE filters.conf
    @INCLUDE outputs.conf

  inputs.conf: |
    @INCLUDE inputs-kubernetes.conf
    @INCLUDE inputs-syslog.conf
    @INCLUDE inputs-auditing.conf

  inputs-kubernetes.conf: |
    # Get all the container logs
    [INPUT]
        Name              tail
        Tag               kubernetes.*
        Alias             kubernetes
        Parser            docker
        Path              /var/log/containers/*.log
        DB                ${input_database_path}/kubernetes.db
        Docker_Mode       on

        # Buffering options
        Mem_Buf_Limit     ${input_memory_buffer_limit}
        Buffer_Max_Size   ${input_buffer_max_size}
        storage.type      {{ .Values.fluentbit.inputStorageTypes.container }}

        # The interval of refreshing the list of watched files in seconds
        Refresh_Interval  ${input_refresh_interval_in_seconds}
        Skip_Long_Lines   ${input_skip_long_lines}

  inputs-syslog.conf: |
    [INPUT]
        Name              systemd
        Path              /run/log/journal
        Tag               syslog.*
        Parser            syslog
        DB                ${input_database_path}/syslog.db
        storage.type      {{ .Values.fluentbit.inputStorageTypes.syslog }}
        Mem_Buf_Limit     ${input_memory_buffer_limit}
        Strip_Underscores on

  inputs-auditing.conf: |
    # Get the sshd audit logs
    [INPUT]
        Name              systemd
        Tag               audit.ssh.*
        Path              /run/log/journal
        Parser            syslog
        DB                ${input_database_path}/audit_ssh.db
        Systemd_Filter    SYSLOG_IDENTIFIER=sshd
        Mem_Buf_Limit     ${input_memory_buffer_limit}
        storage.type      {{ .Values.fluentbit.inputStorageTypes.sshd }}
        Strip_Underscores on

    # Get the kubernetes api server audit logs
    [INPUT]
        Name              tail
        Tag               audit.kubernetes.*
        Path              /var/log/apiserver/audit.log
        Parser            json
        DB                ${input_database_path}/audit_kubernetes.db
        storage.type      {{ .Values.fluentbit.inputStorageTypes.audit }}

        # Buffering options
        Buffer_Max_Size   ${input_buffer_max_size}
        Mem_Buf_Limit     ${input_memory_buffer_limit}

        # The interval of refreshing the list of watched files in seconds
        Refresh_Interval  ${input_refresh_interval_in_seconds}
        Skip_Long_Lines   ${input_skip_long_lines}

  filters.conf: |
    {{- if .Values.extraFilters }}
    ## extraFilters
    {{- .Values.extraFilters | nindent 4 }}
    ## end
    {{- end }}
    [FILTER]
        Name                kubernetes
        Match               kubernetes.*
        Kube_Tag_Prefix     kubernetes.var.log.containers.
        Kube_URL            https://kubernetes.default.svc:443
        Kube_CA_File        /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        Kube_Token_File     /var/run/secrets/kubernetes.io/serviceaccount/token
        Merge_Log           On
        Merge_Log_Key       log_processed
        K8S-Logging.Parser  On
        K8S-Logging.Exclude Off

    [FILTER]
        Name   record_modifier
        Match  *
        Record cluster {{ .Values.clusterID }}

  outputs.conf: |
    {{- if .Values.outputs.elasticsearch.enabled }}
    @INCLUDE outputs-elasticsearch.conf
    {{- end }}
    {{- if .Values.outputs.azure.logAnalytics.enabled }}
    @INCLUDE outputs-azure-loganalytics.conf
    {{- end }}
    {{- if .Values.outputs.aws.cloudWatch.enabled }}
    @INCLUDE outputs-aws-cloudwatch.conf
    {{- end }}
    {{- if .Values.outputs.aws.S3.enabled }}
    @INCLUDE outputs-aws-s3.conf
    {{- end }}
    {{- if .Values.outputs.tcp.enabled }}
        @INCLUDE outputs-tcp.conf
    {{- end }}
    {{- if not (or .Values.outputs.elasticsearch.enabled .Values.outputs.azure.logAnalytics.enabled .Values.outputs.aws.cloudWatch.enabled .Values.outputs.aws.S3.enabled ) }}
    [OUTPUT]
        Name   stdout
        Match  *
        Format json
    {{- end }}
    {{- if .Values.outputs.extraOutputConfig }}
    ## extraOutputConfig
    {{- .Values.outputs.extraOutputConfig | nindent 4 }}
    ## end
    {{- end }}

  {{- if .Values.outputs.tcp.enabled }}
  outputs-tcp.conf: |
  {{- if has "syslog" .Values.outputs.tcp.inputLogTypes }}
    [OUTPUT]
        Name tcp
        Match syslog.**
        Host {{ .Values.outputs.tcp.host }}
        Port {{ .Values.outputs.tcp.port }}
        Format {{ .Values.outputs.tcp.format }}
        json_date_key {{ .Values.outputs.tcp.json_date_key }}
        json_date_format {{ .Values.outputs.tcp.json_date_format }}
        Retry_Limit  false
  {{- end }}
  {{- end }}

  {{- if .Values.outputs.elasticsearch.enabled }}
  outputs-elasticsearch.conf: |
  {{- if has "sshd" .Values.outputs.elasticsearch.inputLogTypes }}
    [OUTPUT]
        Name               es
        Match              audit.ssh.**
        Retry_Limit        False
        Host               {{ .Values.outputs.elasticsearch.host }}
        tls                {{ .Values.outputs.elasticsearch.tlsEnabled }}
        tls.verify         {{ .Values.outputs.elasticsearch.sslVerify }}
        Port               {{ .Values.outputs.elasticsearch.port }}
        {{- if .Values.outputs.elasticsearch.secured }}
        HTTP_User          ${FLUENT_ELASTICSEARCH_USER}
        HTTP_Passwd        ${FLUENT_ELASTICSEARCH_PASSWORD}
        {{- end}}
        Path               {{ .Values.outputs.elasticsearch.path }}
        Type               _doc
        Logstash_Format    True
        Logstash_Prefix    {{ .Values.outputs.elasticsearch.indices.audit.ssh.name }}
        Include_Tag_Key    False
        Replace_Dots       True
        Trace_Output       False
        Current_Time_Index False
  {{- end }}

  {{- if has "syslog" .Values.outputs.elasticsearch.inputLogTypes }}
    [OUTPUT]
        Name               es
        Match              syslog.**
        Retry_Limit        False
        Host               {{ .Values.outputs.elasticsearch.host }}
        tls                {{ .Values.outputs.elasticsearch.tlsEnabled }}
        tls.verify         {{ .Values.outputs.elasticsearch.sslVerify }}
        Port               {{ .Values.outputs.elasticsearch.port }}
        {{- if .Values.outputs.elasticsearch.secured }}
        HTTP_User          ${FLUENT_ELASTICSEARCH_USER}
        HTTP_Passwd        ${FLUENT_ELASTICSEARCH_PASSWORD}
        {{- end}}
        Path               {{ .Values.outputs.elasticsearch.path }}
        Type               _doc
        Logstash_Format    True
        Logstash_Prefix    {{ .Values.outputs.elasticsearch.indices.syslog.name }}
        Include_Tag_Key    False
        Replace_Dots       True
        Trace_Output       False
        Current_Time_Index False
  {{- end }}

  {{- if has "containers" .Values.outputs.elasticsearch.inputLogTypes }}
    [OUTPUT]
        Name               es
        Match              kubernetes.**
        Retry_Limit        False
        Host               {{ .Values.outputs.elasticsearch.host }}
        tls                {{ .Values.outputs.elasticsearch.tlsEnabled }}
        tls.verify         {{ .Values.outputs.elasticsearch.sslVerify }}
        Port               {{ .Values.outputs.elasticsearch.port }}
        {{- if .Values.outputs.elasticsearch.secured }}
        HTTP_User          ${FLUENT_ELASTICSEARCH_USER}
        HTTP_Passwd        ${FLUENT_ELASTICSEARCH_PASSWORD}
        {{- end}}
        Path               {{ .Values.outputs.elasticsearch.path }}
        Type               _doc
        Logstash_Format    True
        Logstash_Prefix    {{ .Values.outputs.elasticsearch.indices.containers.name }}
        Include_Tag_Key    False
        Replace_Dots       True
        Trace_Output       False
        Current_Time_Index False
  {{- end }}

  {{- if has "audit" .Values.outputs.elasticsearch.inputLogTypes }}
    [OUTPUT]
        Name               es
        Match              audit.kubernetes.**
        Retry_Limit        False
        Host               {{ .Values.outputs.elasticsearch.host }}
        tls                {{ .Values.outputs.elasticsearch.tlsEnabled }}
        tls.verify         {{ .Values.outputs.elasticsearch.sslVerify }}
        Port               {{ .Values.outputs.elasticsearch.port }}
        {{- if .Values.outputs.elasticsearch.secured }}
        HTTP_User          ${FLUENT_ELASTICSEARCH_USER}
        HTTP_Passwd        ${FLUENT_ELASTICSEARCH_PASSWORD}
        {{- end}}
        Path               {{ .Values.outputs.elasticsearch.path }}
        Type               _doc
        Logstash_Format    True
        Logstash_Prefix    {{ .Values.outputs.elasticsearch.indices.audit.kubernetes.name }}
        Include_Tag_Key    False
        Replace_Dots       True
        Trace_Output       False
        Current_Time_Index False
  {{- end }}
  {{- end }}

  {{- if .Values.outputs.azure.logAnalytics.enabled }}
  outputs-azure-loganalytics.conf: |
  {{- if has "sshd" .Values.outputs.azure.logAnalytics.inputLogTypes }}
    [OUTPUT]
        Name         azure
        Match        audit.ssh.**
        Customer_ID  ${FLUENT_AZURE_WORKSPACE_ID}
        Shared_Key   ${FLUENT_AZURE_WORKSPACE_KEY}
        Log_Type     {{ .Values.outputs.azure.logAnalytics.customLogs.audit.ssh.name }}
        Retry_Limit  false
  {{- end }}

  {{- if has "syslog" .Values.outputs.azure.logAnalytics.inputLogTypes }}
    [OUTPUT]
        Name         azure
        Match        syslog.**
        Customer_ID  ${FLUENT_AZURE_WORKSPACE_ID}
        Shared_Key   ${FLUENT_AZURE_WORKSPACE_KEY}
        Log_Type     {{ .Values.outputs.azure.logAnalytics.customLogs.syslog.name }}
        Retry_Limit  false
  {{- end }}

  {{- if has "containers" .Values.outputs.azure.logAnalytics.inputLogTypes }}
    [OUTPUT]
        Name         azure
        Match        kubernetes.**
        Customer_ID  ${FLUENT_AZURE_WORKSPACE_ID}
        Shared_Key   ${FLUENT_AZURE_WORKSPACE_KEY}
        Log_Type     {{ .Values.outputs.azure.logAnalytics.customLogs.containers.name }}
        Retry_Limit  false
  {{- end }}

  {{- if has "audit" .Values.outputs.azure.logAnalytics.inputLogTypes }}
    [OUTPUT]
        Name         azure
        Match        audit.kubernetes.**
        Customer_ID  ${FLUENT_AZURE_WORKSPACE_ID}
        Shared_Key   ${FLUENT_AZURE_WORKSPACE_KEY}
        Log_Type     {{ .Values.outputs.azure.logAnalytics.customLogs.audit.kubernetes.name }}
        Retry_Limit  false
  {{- end }}
  {{- end }}

  {{- if .Values.outputs.aws.S3.enabled }}
  outputs-aws-s3.conf: |
  {{- if has "sshd" .Values.outputs.aws.S3.inputLogTypes }}
    [OUTPUT]
        Name                         s3
        Match                        audit.ssh.**
        bucket                       {{ .Values.outputs.aws.S3.bucketPathPrefix }}{{ .Values.outputs.aws.S3.bucketNamePrefix }}-ssh
        region                       {{ .Values.outputs.aws.region }}
        total_file_size              {{ .Values.outputs.aws.S3.totalFileSize }}
        s3_key_format                {{ .Values.outputs.aws.S3.s3_object_key_format }}
        s3_key_format_tag_delimiters .-_
        store_dir                    ${storage_path}/S3
  {{- end }}

  {{- if has "syslog" .Values.outputs.aws.S3.inputLogTypes }}
    [OUTPUT]
        Name                         s3
        Match                        syslog.**
        bucket                       {{ .Values.outputs.aws.S3.bucketPathPrefix }}{{ .Values.outputs.aws.S3.bucketNamePrefix }}-syslog
        region                       {{ .Values.outputs.aws.region }}
        total_file_size              {{ .Values.outputs.aws.S3.totalFileSize }}
        s3_key_format                {{ .Values.outputs.aws.S3.s3_object_key_format }}
        s3_key_format_tag_delimiters .-_
        store_dir                    ${storage_path}/S3
  {{- end }}

  {{- if has "containers" .Values.outputs.aws.S3.inputLogTypes }}
    [OUTPUT]
        Name                         s3
        Match                        kubernetes.**
        bucket                       {{ .Values.outputs.aws.S3.bucketPathPrefix }}{{ .Values.outputs.aws.S3.bucketNamePrefix }}-containers
        region                       {{ .Values.outputs.aws.region }}
        total_file_size              {{ .Values.outputs.aws.S3.totalFileSize }}
        s3_key_format                {{ .Values.outputs.aws.S3.s3_object_key_format }}
        s3_key_format_tag_delimiters .-_
        store_dir                    ${storage_path}/S3
  {{- end }}

  {{- if has "audit" .Values.outputs.aws.S3.inputLogTypes }}
    [OUTPUT]
        Name                         s3
        Match                        audit.kubernetes.**
        bucket                       {{ .Values.outputs.aws.S3.bucketPathPrefix }}{{ .Values.outputs.aws.S3.bucketNamePrefix }}-kubernetes-audit
        region                       {{ .Values.outputs.aws.region }}
        total_file_size              {{ .Values.outputs.aws.S3.totalFileSize }}
        s3_key_format                {{ .Values.outputs.aws.S3.s3_object_key_format }}
        s3_key_format_tag_delimiters .-_
        store_dir                    ${storage_path}/S3
 {{- end }}
 {{- end }}

  {{- if or .Values.outputs.aws.cloudWatch.enabled }}
  outputs-aws-cloudwatch.conf: |
  {{- if has "sshd" .Values.outputs.aws.cloudWatch.inputLogTypes }}
    [OUTPUT]
        Name               cloudwatch_logs
        Match              audit.ssh.**
        region             {{ .Values.outputs.aws.region }}
        log_group_name     {{ .Values.outputs.aws.cloudWatch.logGroupName }}/ssh
        log_stream_prefix  {{ .Values.outputs.aws.cloudWatch.logStreamNamePrefix }}-${K8S_NODE_NAME}-
        log_retention_days {{ .Values.outputs.aws.cloudWatch.logRetentionDays }}
        auto_create_group  true
  {{- end }}

  {{- if has "syslog" .Values.outputs.aws.cloudWatch.inputLogTypes }}
    [OUTPUT]
        Name               cloudwatch_logs
        Match              syslog.**
        region             {{ .Values.outputs.aws.region }}
        log_group_name     {{ .Values.outputs.aws.cloudWatch.logGroupName }}/syslog
        log_stream_prefix  {{ .Values.outputs.aws.cloudWatch.logStreamNamePrefix }}-${K8S_NODE_NAME}-
        log_retention_days {{ .Values.outputs.aws.cloudWatch.logRetentionDays }}
        auto_create_group  true
  {{- end }}

  {{- if has "containers" .Values.outputs.aws.cloudWatch.inputLogTypes }}
    [OUTPUT]
        Name               cloudwatch_logs
        Match              kubernetes.**
        region             {{ .Values.outputs.aws.region }}
        log_group_name     {{ .Values.outputs.aws.cloudWatch.logGroupName }}/containers
        log_stream_prefix  {{ .Values.outputs.aws.cloudWatch.logStreamNamePrefix }}-
        log_retention_days {{ .Values.outputs.aws.cloudWatch.logRetentionDays }}
        auto_create_group  true
  {{- end }}

  {{- if has "audit" .Values.outputs.aws.cloudWatch.inputLogTypes }}
    [OUTPUT]
        Name               cloudwatch_logs
        Match              audit.kubernetes.**
        region             {{ .Values.outputs.aws.region }}
        log_group_name     {{ .Values.outputs.aws.cloudWatch.logGroupName }}/kubernetes-audit
        log_stream_prefix  {{ .Values.outputs.aws.cloudWatch.logStreamNamePrefix }}-
        log_retention_days {{ .Values.outputs.aws.cloudWatch.logRetentionDays }}
        auto_create_group  true
  {{- end }}
  {{- end }}

  parsers.conf: |
    [PARSER]
        Name         docker
        Format       json
        Time_Key     time
        Time_Format  %Y-%m-%dT%H:%M:%S.%L
        Time_Keep    On

    [PARSER]
        Name   apache
        Format regex
        Regex  ^(?<host>[^ ]*) [^ ]* (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^\"]*?)(?: +\S*)?)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z

    [PARSER]
        Name   apache2
        Format regex
        Regex  ^(?<host>[^ ]*) [^ ]* (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^ ]*) +\S*)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z

    [PARSER]
        Name   apache_error
        Format regex
        Regex  ^\[[^ ]* (?<time>[^\]]*)\] \[(?<level>[^\]]*)\](?: \[pid (?<pid>[^\]]*)\])?( \[client (?<client>[^\]]*)\])? (?<message>.*)$

    [PARSER]
        Name   nginx
        Format regex
        Regex ^(?<remote>[^ ]*) (?<host>[^ ]*) (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^\"]*?)(?: +\S*)?)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?$
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z

    [PARSER]
        Name   json
        Format json
        Time_Key time
        Time_Format %d/%b/%Y:%H:%M:%S %z

    [PARSER]
        Name        syslog
        Format      regex
        Regex       ^\<(?<pri>[0-9]+)\>(?<time>[^ ]* {1,2}[^ ]* [^ ]*) (?<host>[^ ]*) (?<ident>[a-zA-Z0-9_\/\.\-]*)(?:\[(?<pid>[0-9]+)\])?(?:[^\:]*\:)? *(?<message>.*)$
        Time_Key    time
        Time_Format %b %d %H:%M:%S
