{{- if or .Values.outputs.azure.logAnalytics.enabled .Values.outputs.elasticsearch.enabled }}
apiVersion: v1
kind: Secret
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ include "resource.default.name" . }}-secret
  namespace: {{ .Release.Namespace }}
stringData:
  {{- if .Values.outputs.azure.logAnalytics.enabled }}
  WorkspaceKey: {{ .Values.outputs.azure.logAnalytics.sharedKey | quote }}
  WorkspaceID: {{ .Values.outputs.azure.logAnalytics.workspaceId | quote }}
  {{- end}}
  {{- if and .Values.outputs.elasticsearch.enabled .Values.outputs.elasticsearch.secured}}
  ElasticsearchUser: {{ .Values.outputs.elasticsearch.user | quote }}
  ElasticsearchPassword: {{ .Values.outputs.elasticsearch.password | quote }}
  {{- end}}
{{- end }}
