{{- if and .Values.outputs .Values.outputs.inputLogTypes }}
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ include "resource.default.name" . }}
  namespace: {{ .Release.Namespace }}
  annotations: {{ .Values.serviceAccount.annotations | nindent 4 }}
{{- end }}
